.product-information {
    font-size: medium;
}

.image-container {
    height: 450px;
}

.custom-button {
    background-color: #2196F3;
    color: white;
    /* margin-right: center; */
    /* align-items: center; */
    justify-items: center;
}